/* Custom styles for the navbar */
.nav-wrapper .brand-logo {
    padding-left: 20px; /* Add padding to move the logo away from the edge */
    background-color: transparent;
}

@media screen and (max-width: 992px) {
    .nav-wrapper .brand-logo {
        padding-left: 15px; /* Adjust padding for smaller screens if needed */
    }
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #2c3e50;
}

.custom-collection-item {
    background-color: #bbdefb; /* blue lighten-4 */
    border: none; /* Remove default border */
    color: #0d47a1; /* Dark blue text to match the card-panel style */
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 10px; /* Space between items */
}

.card-image {
    height: 400px; /* Adjust height as needed */
}

.card-content {
    padding: 10px;
}

.tabs {
    margin-bottom: 0;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}